:root {
  --vf-flow-color-bg: #eee;
  --vf-connection-path-color: #b1b1b7;

  --vf-handle-color: #555;
  --vf-handle-size: 10px;

  --vf-operation-color-bg: rgb(216, 239, 250);
  --vf-operation-color-text: #222;
  --vf-operation-color-handle: rgb(59, 115, 138);
  --vf-operation-color-edge: var(--vf-operation-color-handle);
  --vf-operation-color-border: var(--vf-operation-color-text);

  --vf-io-color-bg: #fff;
  --vf-io-color-text: var(--vf-operation-color-text);
  --vf-io-color-handle: rgb(161, 62, 218);
  --vf-io-color-edge: var(--vf-io-color-handle);
  --vf-io-handle-multiplier: 0.7;

  --vf-at-input-color-bg: rgb(229, 205, 243);
  --vf-at-input-color-text: var(--vf-operation-color-text);
  --vf-at-input-color-handle: var(--vf-io-color-handle);
  --vf-at-input-color-border: var(--vf-at-input-color-handle);
  --vf-at-input-handle-multiplier: 0.9;

  --vf-selected-color-values: 9, 112, 9;
  --vf-selected-color: rgb(var(--vf-selected-color-values));
}

.vue-flow {
  width: 100%;
  height: 100%;
  background-color: var(--vf-flow-color-bg);
}

.vue-flow__node {
  cursor: grab;
}

.vue-flow__node-datainput,
.vue-flow__node-dataoutput {
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  color: var(--vf-io-text);
  background-color: var(--vf-io-color-bg);
  // border-color: var(--vf-io-color);

  p {
    margin: 0;
  }

  .vue-flow__handle {
    width: calc(var(--vf-handle-size) * var(--vf-io-handle-multiplier));
    height: calc(var(--vf-handle-size) * var(--vf-io-handle-multiplier));
    background: var(--vf-io-color-handle);
  }
}

.vue-flow__node-operation {
  font-size: 0.8em;
  padding: 5px 10px 15px 10px;
  border-radius: 3px;
  width: 300px;
  border-width: 1px;
  border-style: solid;
  color: var(--vf-operation-color-text);
  background-color: var(--vf-operation-color-bg);
  border-color: var(--vf-operation-color-border);

  &:has(.my-custom-currently-selected) {
    border-style: solid;
    border-width: 1px;
    border-color: var(--vf-selected-color);
    box-shadow: 0 0 10px 0 rgba(var(--vf-selected-color-values), 0.4);
  }

  .vue-flow__handle {
    background: var(--vf-operation-color-handle);
  }
  .vue-flow__handle-top {
    left: 20px;
  }
  .vue-flow__handle-bottom {
    left: 20px;
  }
}

.vue-flow__node-at-input {
  font-size: 0.8em;
  padding: 0 10px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  color: var(--vf-at-input-color-text);
  background-color: var(--vf-at-input-color-bg);
  border-color: var(--vf-at-input-color-border);

  &:has(.my-custom-currently-selected) {
    border-style: solid;
    border-width: 1px;
    border-color: var(--vf-selected-color);
    box-shadow: 0 0 10px 0 rgba(var(--vf-selected-color-values), 0.4);
  }

  .vue-flow__handle {
    width: calc(var(--vf-handle-size) * var(--vf-at-input-handle-multiplier));
    height: calc(var(--vf-handle-size) * var(--vf-at-input-handle-multiplier));
    background: var(--vf-at-input-color-handle);
  }
}

.vue-flow__handle {
  width: var(--vf-handle-size);
  height: var(--vf-handle-size);
  background: var(--vf-handle-color);
  border-radius: 100%;
}

// .vue-flow__edge-control.selected .my-custom-currently-selected {
// stroke: var(--vf-selected-color);
// }

.vue-flow__edge-control .vue-flow__edge-path,
.vue-flow__edge-control.selected .vue-flow__edge-path {
  stroke: var(--vf-operation-color-edge);
}

.vue-flow__edge-data .vue-flow__edge-path,
.vue-flow__edge-data.selected .vue-flow__edge-path {
  stroke: var(--vf-io-color-edge);
}
